In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("data/bronze/feedbacks-2023.xlsx")

In [3]:
df['quarter'] = pd.to_datetime(df['date']).dt.year.astype(str) + 'Q' + pd.to_datetime(df['date']).dt.quarter.astype(str)

categories = df["feedback_category"].unique().tolist()
print(f"Categories: {', '.join(categories)}")
sentiments = df["sentiment"].unique().tolist()
print(f"Sentiments: {', '.join(sentiments)}")

cleansed_cols = ["feedback_id", "customer_id", "date", "quarter", "feedback_text"]
text_deduped_cols = ["feedback_text"]

cleansed_df = df[cleansed_cols]
text_deduped_df = df[text_deduped_cols].drop_duplicates("feedback_text").reset_index(drop=True)

Categories: Product Quality, Delivery, Pricing, Customer Service, Website Usability
Sentiments: positive, neutral, negative

In [4]:
cleansed_df.sample(5, random_state=42)

,feedback_id,customer_id,date,quarter,feedback_text
521,522,2500,2023-06-29,2023Q2,Excellent value for money!
737,738,1825,2023-06-28,2023Q2,The quality of the product was below expectati...
740,741,2516,2023-04-13,2023Q2,Excellent value for money!
660,661,3388,2023-02-20,2023Q1,Received a defective item.
411,412,4234,2023-06-13,2023Q2,The customer service was very helpful.

In [5]:
text_deduped_df

                                       feedback_text
0                         Excellent value for money!
1                    Not satisfied with the service.
2          The pricing is too high for what you get.
3          Great product, but the delivery was late.
4     The delivery was fast and the product is good.
5             The customer service was very helpful.
6                         Received a defective item.
7            Easy to use website and quick checkout.
8                     I had issues with the website.
9  The quality of the product was below expectati...

In [6]:
cleansed_df.to_parquet("data/silver/cleansed-feedbacks-2023.parquet", index=False)
text_deduped_df.to_parquet("data/silver/feedback-text-deduped-2023.parquet", index=False)